!!!
%html
  %head
    %title Instagram Search - Coding Challenge
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %script(type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false")
    = csrf_meta_tags
  %body
    #wrapper
      = render 'shared/header'
      = yield
    = render 'shared/footer'